{% extends 'base.html' %}

{% block content %}
<h1>Formulário de inscrição</h1>

<form action="." method="post">
    {% csrf_token %}

    <div class="span5">
        {% if form.non_field_errors %}
        <div class="alert alert-error">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <div class="form-group">
            {{ form.name.label_tag}}
            <div class="input-text">
                {{ form.name }}
                {{ form.name.errors }}
            </div>
        </div>

        <div class="form-group">
            {{ form.cpf.label_tag }}
            <div class="input-text">
                {{ form.cpf }}
                {{ form.cpf.errors }}
            </div>
        </div>

        <div class="form-group">
            {{ form.email.label_tag }}
            <div class="input-text">
                {{ form.email }}
                {{ form.email.errors }}
            </div>
        </div>

        <div class="form-group">
            {{ form.phone.label_tag }}
            <div class="input-phone">
                {{ form.phone }}
                {{ form.phone.errors }}
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Enviar" class="button">
        </div>
    </div>
</form>

{% endblock content %}
